        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{path('homepage')}}">LineBnB</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('homepage')}}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('ads_index')}}">Annonces</a>
                    </li>

                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if app.user %} {# si je suis connecté #}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                            <img src="{{app.user.picture}}" alt="Avatar de {{app.user.fullName}}" class="avatar avatar-mini">
                            {{app.user.fullName}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledy="accountDopdownLink">
                            <a href="{{path('account_index')}}" class="dropdown-item">Mon compte</a>
                            <a href="{{path('account_bookings')}}" class="dropdown-item">Mes réservations</a>
                            <a href="{{path('account_profile')}}" class="dropdown-item">Modifier mon profil</a>
                            <a href="{{path('account_password')}}" class="dropdown-item">Modifier mon mot de passe</a>  
                                         
                            <a class="dropdown-item" href="{{path('ads_create')}}">Créer une nouvelle annonce</a>
                            <div class="dropdown-divider"></div>
                            <a href="{{path('app_logout')}}" class="dropdown-item">Déconnexion</a>
                        </div>
                    </li>

                    {% else %}
                    <li class="nav-item">
                        <a href="{{ path('register') }}" class="nav-link">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_login') }}" class="nav-link">Connexion</a>
                    </li>

                    {% endif %}
                </ul>
                
            </div>
        </nav>


{# permet d'affiche les flashs dans le header #}
        {% for label, messages in app.flashes %} {# un for avec deux données : label = clé message = valeur #}
            <div class="container">
                <div class="alert alert-{{label}}">
                    {% for message in messages %}
                        <p>{{ message | raw }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}